header {
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    padding: 15px;
    border: solid black;
}

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
  };
  
.todayWeatherContainer {
    border: solid black;
}

ul{
    list-style-type: none;
};

.fiveday{
    display: flex;
    flex-direction: column;
}

.card{
    display: inline-block;
    background-color: cornflowerblue;
    color: white;
    border: solid black;

}

.high{
    background-color: red;
}

.medium{
    background-color: yellow;
}

.low{
    background-color: green;
}
.UV{
    width: fit-content;
    padding: 5px;
    border-radius: 25%;
}